<div class="product">
    <div class="top-link">
        <span>
            <a>Home / Product</a>
        </span>
    </div>

    <div class="product-top">
        <div class="product-left">
            <div class="product-image">
                <img src={{product.productImg}} alt="">
            </div>
            <div class="product-image-slide">
            </div>
        </div>
        <div class="product-middle">
            <div class="product-middle-title">
                <label><h1>{{product.productName}}</h1></label>
            </div>
            <div class="product-middle-title">
                <label>
                    <h2>
                        <span *ngIf="product.rated != 0 && null != product.rated; else noRating">
                            {{product.rated}}
                        </span>
                        <ng-template #noRating><span>Chưa có đánh giá nào</span></ng-template>
                        <span> / </span>
                        <span>reviews: </span>{{product.totalReview}}
                    </h2>
                </label>
                <label>
                    <h1>{{product.productPrice | currency: "VND"}} 
                        <span *ngIf="product.status == false; else soldOut">Status: Còn hàng</span>
                        <ng-template #soldOut><span>Hết hàng</span></ng-template>
                    </h1>
                </label>
            </div>
            <div class="product-middle-title">
                <h1>Color</h1>
            </div>
        </div>
    </div>
    <div class="product-bottom">
    </div>
</div>