<div class="product">
    <div class="top-link">
        <span>
            <a>Home / Product</a>
        </span>
    </div>

    <div class="product-top">
        <div class="product-left">
            <div class="product-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfrLAZZRhW85ny1UWBbuyo4_ATKJgx7dHK6Q&usqp=CAU" alt="">
            </div>
            <div class="product-image-slide">
                <carousel>
                    <div class="carousel-cell">
                        [images]="images">
                    </div>
                </carousel>
            </div>
        </div>
        <div class="product-right">

        </div>
    </div>
    <div class="product-bottom">
    </div>
</div>