<div class="container">
    <section class="top-rating">
        <h1>TOP RATED PRODUCT</h1>
        <img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2017/02/04/vJfPsUgwklp1tNAOiq0X3My9/demo-10/images/100x24.png" alt="">
        <div class="card-item">
            <mat-card class="card-rating mat-elevation-z0">
                <mat-card-content>
                    <img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2017/02/04/vJfPsUgwklp1tNAOiq0X3My9/demo-10/images/192x280x3.jpg" alt="">
                    <h1>77.77$</h1>
                    <mat-card-title class="mat-card-title-rating">PRODUCT ITEM</mat-card-title>
                    <mat-card-subtitle>This is product item</mat-card-subtitle>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer-rating">
                    <button mat-button color="warn"><span>Buy now</span><mat-icon>arrow_forward_ios</mat-icon></button>
                </mat-card-footer>
            </mat-card>
            <mat-card class="card-rating mat-elevation-z0">
                <mat-card-content>
                    <img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2017/02/04/vJfPsUgwklp1tNAOiq0X3My9/demo-10/images/192x280x3.jpg" alt="">
                    <h1>77.77$</h1>
                    <mat-card-title class="mat-card-title-rating">PRODUCT ITEM</mat-card-title>
                    <mat-card-subtitle>This is product item</mat-card-subtitle>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer-rating">
                    <button mat-button color="warn"><span>Buy now</span><mat-icon>arrow_forward_ios</mat-icon></button>
                </mat-card-footer>
            </mat-card>
            <mat-card class="card-rating mat-elevation-z0">
                <mat-card-content>
                    <img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2017/02/04/vJfPsUgwklp1tNAOiq0X3My9/demo-10/images/192x280x3.jpg" alt="">
                    <h1>77.77$</h1>
                    <mat-card-title class="mat-card-title-rating">PRODUCT ITEM</mat-card-title>
                    <mat-card-subtitle>This is product item</mat-card-subtitle>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer-rating">
                    <button mat-button color="warn"><span>Buy now</span><mat-icon>arrow_forward_ios</mat-icon></button>
                </mat-card-footer>
            </mat-card>
            <mat-card class="card-rating mat-elevation-z0">
                <mat-card-content>
                    <img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2017/02/04/vJfPsUgwklp1tNAOiq0X3My9/demo-10/images/192x280x3.jpg" alt="">
                    <h1>77.77$</h1>
                    <mat-card-title class="mat-card-title-rating">PRODUCT ITEM</mat-card-title>
                    <mat-card-subtitle>This is product item</mat-card-subtitle>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer-rating">
                    <button mat-button color="warn"><span>Buy now</span><mat-icon>arrow_forward_ios</mat-icon></button>
                </mat-card-footer>
            </mat-card>
            <mat-card class="card-rating mat-elevation-z0">
                <mat-card-content>
                    <img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2017/02/04/vJfPsUgwklp1tNAOiq0X3My9/demo-10/images/192x280x3.jpg" alt="">
                    <h1>77.77$</h1>
                    <mat-card-title class="mat-card-title-rating">PRODUCT ITEM</mat-card-title>
                    <mat-card-subtitle>This is product item</mat-card-subtitle>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer-rating">
                    <button mat-button color="warn"><span>Buy now</span><mat-icon>arrow_forward_ios</mat-icon></button>
                </mat-card-footer>
            </mat-card>
        </div>
    </section>
    <section>

    </section>
</div>