<header class="header">
    <div class="header-content">
        <div class="header-content-right-area">
            <img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2017/02/04/vJfPsUgwklp1tNAOiq0X3My9/demo-10/images/150x50x1.png" alt="">
        </div>
        <div class="header-content-left-area">
            <ul>
                <li>
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active" ><h2 style="color: gray;">LOGIN<mat-icon>login</mat-icon></h2></a>
                </li>
                <li>
                    <a [routerLink]="['/woman']" routerLinkActive="router-link-active" ><h2>WOMAN</h2></a>
                </li>
                <li>
                    <a [routerLink]="['/kid']" routerLinkActive="router-link-active" ><h2>KIDS</h2></a>
                </li>
                <li>
                    <a [routerLink]="['/man']" routerLinkActive="router-link-active" ><h2>MEN</h2></a>
                </li>
            </ul>

        </div>
    </div>
</header>